<h1>Benutzerverwaltung</h1>
<h2>Benutzer</h2>
<% if @users.empty? %>
	<p>Keine Benutzer vorhanden.</p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Rolle ändern</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= link_to "Ändern", :action => 'promote', :u => user.id %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<h2>Moderatoren</h2>
<% if @moderators.empty? %>
	<p>Keine Moderatoren vorhanden.</p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Rolle ändern</th>
			</tr>
		</thead>

		<tbody>
			<% @moderators.each do |moderator| %>
			<tr>
				<td><%= moderator.name %></td>
				<td><%= moderator.email %></td>
				<td><%= link_to "Ändern", :action => 'promote', :u => moderator.id %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<h2>Admins</h2>
<% if @admins.empty? %>
	<p>Keine Admins vorhanden.</p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Rolle ändern</th>
			</tr>
		</thead>

		<tbody>
			<% @admins.each do |admin| %>
			<tr>
				<td><%= admin.name %></td>
				<td><%= admin.email %></td>
				<td><%= link_to "Ändern", :action => 'promote', :u => admin.id %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= link_to('Back', root_url) %>