<!DOCTYPE html>
<html>
<head>
	<title>RubyMovies</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
    <div id = "mainwrapper"> 
    	<h1>RubyMovies</h1>
        <div id = "links">
            <div><%= link_to_unless_current "Alle Filme", root_path %></div>
            <div><%= link_to_unless_current "Top-Filme", films_top_path %></div>
            <div><%= link_to_unless_current "Suche nach Tags", tag_search_url %></div>
            <div><%= link_to_signed_in "Film vorschlagen", new_film_path %></div>
            <div><%= link_to_admin_mod "Vorgeschlagene Filme", suggested_films_url %></div>

            <br />

            <div><%= link_to_unless_current "Filmquiz", quiz_start_path %></div>
            <div><%= link_to_signed_in "Frage vorschlagen", new_question_url %></div>
            <div><%= link_to_admin_mod "Fragen verwalten", questions_url %></div>

            <br />

            <div><%= link_to_unless(messagelinkdisabled?, "Nachrichten(#{new_message_count})", inbox_messages_path) if user_signed_in? %></div>
            <div><%= link_to_unless_current('Administration', manage_users_url) if admin_signed_in? %></div>
            <div><%= link_to_unless_current('Logout', destroy_user_session_path, :method => :delete) if user_signed_in? %></div>
            <div><%= link_to_unless_current('Registrierung', new_user_registration_url) unless user_signed_in? %></div>
            <div><%= link_to('Login', new_user_session_url) unless user_signed_in? %></div>  
        </div>
        <div id = "content">
            <p id="notice"><%= notice %></p>
            <p id="alert"><%= alert %></p>
            <%= yield %>
        </div>
    </div>
</body>
</html>
