<%= render 'link' %>
<p>
  <strong>Von:</strong>
  <%= @message.sender.name %>
</p>

<p>
  <strong>Betreff:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= simple_format @message.text %>
</p>

<% if current_user == @message.recipient %>
  <%= link_to 'Antworten', message_respond_path(@message.id) %>
  <%= link_to 'Back', inbox_messages_path %>
<% else %>
  <%= link_to 'Back', outbox_messages_path %>
<% end %>