<table>
  <tbody>
    <% films.each do |film| %>
      <tr>
        <td>
          <%= image_tag(film.picture) %>
        </td>
        <td>
          <span style="font-size: 150%"><%= film.title %> <%= getyear film %></span>
          <br />
          <br />
          <% @film = film %>
          <% if activefilms %>
            <%= render :partial => "review", :locals => { :film => film} %>
            <br />
          <% end %>
          <%= render :partial => "tags", :locals => { :film => film} %>
          <br />
          <%= link_to 'Details', film %>
          <br />
          <br />
          <% if !activefilms && (admin_signed_in? || moderator_signed_in?) %>
            <%= link_to "In Filmliste aufnehmen", active_film_url(film.id), method: :post %>
            <br />
          <% end %>
          <%= render 'manage' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>