<table>
  <tbody>
    <% @active_films.each do |film| %>
      <tr>
        <td>
          <%= film.title %>
        </td>
      </tr>

      <tr>
        <td>
          <img height=200px src= <%= film.picture %> alt="Test"></img>
        </td>
        <td>
          <% if film.average == nil %>
            Keine Bewertung
          <% else %>
            <%= film.average %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Details', film %>

          <br />
          <% if user_signed_in? %>
            <% if current_user.admin? || current_user.moderator? %>
              <%= link_to 'Bearbeiten (MODERATOR/ADMIN)', edit_film_path(film) %>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to 'Entfernen (ADMIN)', film, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>