<div id="filme">
<table>
  <tbody>
    <% @active_films.each do |film| %>
      <tr>
        <td>
          <%= image_tag(film.picture) %>
        </td>
        <td>
          <span style="font-size: 150%"><%= film.title %></span>
          <br />
          <br />
          <% @film = film %>
          <%= render 'review' %>
          <br />
          <%= render 'tags' %>
          <br />
          <%= link_to 'Details', film %>
          <br />
          <br />
            <% if admin_signed_in? || moderator_signed_in? %>
              <%= link_to 'Bearbeiten', edit_film_path(film) %>
            <% end %>
            <% if admin_signed_in? %>
              <%= link_to 'Entfernen', film, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div id="cloud">
  <h3>Filme nach Kategorien</h3>
  <%= render 'cloud' %>
</div>
