<h2>Alle Filme</h2>

<table>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><img height=100px width=100px src= <%= film.picture %> alt="Test"></img></td>

        <!-- TODO Folgende Links nur anzeigen, wenn der Benutzer Admin als Rolle hat -->
        <td><%= link_to 'Details', film %></td>
        <td><%= link_to 'Bearbeiten (ADMIN)', edit_film_path(film) %></td>
        <td><%= link_to 'Entfernen (ADMIN)', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
