<p id="notice"><%= notice %></p>

<%= render 'manage' %> | 
<%= back %>

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Bild:</strong>
  <br />
  <%= image_tag(@film.picture) %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @film.description %>
</p>

<p>
  <strong>Link:</strong>
  <% unless @video.nil? %>
    <br />
    <%= render 'video' %>
  <% else %>
    <%= link_to "Link zum Video", @film.link %>
  <% end %>
</p>

<p><%= render 'tags' %></p>
<p><%= render 'review' %></p>
<p>Ihre Bewertung:
<% if user_has_already_reviewed? @film %>
   <%= user_review(@film) %>
<% else %>
  <% i = 0 
    5.times do %>
      <% i += 1 %>
     <%= link_to i, film_review_path(@film, i), method: :post %>
    <% end %>
<% end %>
</p>
<% if user_signed_in? %>
   <%= render 'comment' %>
<% end %>
<h3>Kommentare:</h3>
<% if @comments.empty? %>
	<p>Keine Kommentare vorhanden!</p>
<% end %>
<br/>
<% @comments.each do |comment| %>
	<p>Von: <%= comment.user.name %>
  <br />
  Datum: <%= comment.created_at.to_formatted_s(:db) %>
	<p><%= comment.text %></p>
  <% if admin_signed_in? || moderator_signed_in? %>
    <%= link_to 'Kommentar löschen', comments_destroy_path(comment), method: :delete %>
    <br />
  <% end %></p>
<% end %>
<%= paginate @comments %>