<h2>Vorgeschlagene Filme/h2>

<table>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td>
          <%= film.title %>
        </td>
      </tr>

      <tr>
        <td>
          <img height=200px src= <%= film.picture %> alt="Test"></img>
        </td>
        <td>
          <%= link_to 'Details', film %>

          <!-- TODO Folgende Links in Abhaengingkeit zur Rolle des Users -->
          <br />
          <!-- <%= link_to "In Filmliste aufnehmen", controller: "films", action: "set-active", id: film %> -->
          <%= link_to 'Bearbeiten', edit_film_path(film) %>
          <%= link_to 'Entfernen (ADMIN)', film, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>