<h2>Vorgeschlagene Filme</h2>

<% if @films.empty? %>
<p>Zur Zeit keine vorgeschlagenen Filme vorhanden.</p>
<% else %>
<table>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td>
          <%= film.title %>
        </td>
      </tr>

      <tr>
        <td>
            <%= image_tag(film.picture, height:'110', width:'95') %>
        </td>
        <td>
          <%= link_to 'Details', film %>

          <!-- TODO Folgende Links in Abhaengingkeit zur Rolle des Users -->
          <br />
          <%= link_to "In Filmliste aufnehmen", active_film_url(film.id), method: :post %>
          <%= link_to 'Bearbeiten', edit_film_path(film) %>
          <%= link_to 'Entfernen', film, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>