<h2>Alle Fragen</h2>

<table>
  <thead>
    <tr>
      <th>Frage</th>
      <th>Aktiv</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td width="200px"><%= question.title %></td>
        <td><%= active question %></td>
        <td><%= link_to 'Anzeigen', question_path(question) %></td>
        <td><%= link_to 'Bearbeiten', edit_question_path(question) %></td>
        <td><%= link_to 'Löschen', question, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
        <td><%= link_to 'Freischalten', active_question_path(question.id), method: :post unless question.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>